* {
    font-family: 'Roboto';
}

body {
    font-size: 15px;
    line-height: 24px;
}

.d-flex {
    display: flex;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.w-33 {
    width: 33.33%;
}

.w-25 {
    width: 25%;
}

label, .c-ec {
    color: #3b81ec;
}

.container {
    max-width: 1024px;
    margin: auto;
    background: #F9FDFE;
}

.invoice-name h3 {
    text-transform: uppercase;
    font-size: 23px;
    margin-bottom: 7px;
    font-weight: normal;
}

.invoice-name .time label {
    margin-right: 30px;
}

.invoice-name .time label:last-child {
    margin-right: 0;
}

.invoice-content_header .logo img {
    width: 85%;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

label strong, label span {
    color: #000;
}

.table-calculator {
    margin-top: 30px;
}

.table-calculator table, tr th, tr td {
    border: 1px solid #cccccc;
}

.table-calculator table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr th, tr td {
    padding: 7px;
}
