@font-face {
    font-family: 'Open San';
    src: url("../fonts/OpenSans-Regular.ttf");
}

body, html {
    font-family: 'Open San';
    font-size: 14px;
}

.pd-l-0 {
    padding-left: 0;
}

.pd-r-0 {
    padding-right: 0;
}

label {
    font-weight: bold;
    margin-bottom: 0 !important;
    line-height: 34px;
}

.navigator {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* MENU */
.main-menu ul.nav {
    background: #0b458e;
}

.main-menu ul.nav li a {
    color: #ffffff;
    font-weight: bold;
}

.header-menu {
    background: #067aaa;
}

.header-menu .menu-category {
    position: relative;
    clear: both;
    width: 100%;
    display: flex;
    text-align: center;
    position: relative;
    float: left;
    padding: 13px 8px;
    text-align: left;
}

.header-menu .menu-category > ul {
    margin-bottom: 0;
    display: -webkit-inline-box;
}

.header-menu .menu-category > ul > li {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

.header-menu .menu-category > ul > li:hover {
    cursor: pointer;
}

.header-menu .menu-category > ul > li a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.header-menu .menu-category > ul > li a:hover {
    text-decoration: none;
    color: #e99e2f;
}

.cskh {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 175px;
    margin-bottom: 20px;
}

.cskh img {
    width: 100%;
    height: 100%;
}

.main-content .title h3 {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-content .banner img {
    width: 100%;
    height: 100%;
}

.page-ttdn .title {
    background: #ffffff;
    display: inherit;
    width: auto;
    z-index: 111;
    margin-left: 20px;
}

.page-ttdn .title h3 {
    width: auto;
    display: inline;
    font-size: 18px;
}

.page-ttdn .box-ttdn {
    margin-top: -10px;
    padding: 15px;
    border: 1px solid #ccc;
}

.btn-add {
    margin-top: 10px;
}

.table-ttdn tr.special {
    background-color: #f2f2f2;
}

.table-ttdn tr th, .table-ttdn tr td {
    vertical-align: top;
    padding: 10px 7px;
}

.table-ttdn tr td {
    font-size: 13px;
}

.table-ttdn tr td.number span {
    display: inline-block;
    line-height: 34px;
}

.modal-dialog {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    max-width: none !important;
}

.modal-dialog .modal-content {
    padding-right: 15px;
    padding-left: 15px;
}

.modal-dialog .modal-content .modal-header {
    margin-left: -15px;
    margin-right: -15px;
    background: #067aaa;
    color: #ffffff;
}

.modal-dialog .modal-content .modal-header .close {
    color: #ffffff;
    opacity: 1;
    font-size: 20px;
}

.modal-dialog .btn-add-device {
    min-width: 90px;
    font-weight: bold;
}

#add_device .modal-dialog {
    width: 55%;
}

#device .modal-dialog {
    width: 45%;
}

.text-add-device {
    margin-left: 11px;
    text-decoration: underline;
    line-height: 34px;
}

.footer .box-footer {
    font-size: 12px;
    text-align: center;
    background: #4CAF50;
    height: auto;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer .box-footer p {
    margin-bottom: 5px;
}

.main-content .title {
    margin-left: 0;
}

.header-banner {
    height: 155px;
}

.header-banner img {
    width: 642px;
    height: 130px
}

.header-banner .banner-content img {
    margin-top: 9px;
}

.navigator a {
    margin-right: 15px;
}

.navigator span {
    margin-left: 15px;
}

.navigator a {
    position: relative;
    padding-left: 15px;
    color: #39a5d5;
}

.navigator a:before {
    width: 6px;
    height: 6px;
    background: #39a5d5;
    content: "";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0;
    border-radius: 10px;
}

#content-main {
    min-height: calc(100vh - 273px);
}

.box-ttdn_header {
    font-weight: bold;
}

.calculator .name-device {
    cursor: pointer;
    position: relative;
}

.calculator .name-device i, .calculator .area i {
    font-size: 13px;
    color: #ff0d0d;
    top: 6px;
    right: 2px;
    position: absolute;
    cursor: pointer;
}

.total-bill {
    margin-top: 50px;
}

.total-bill .total-price {
    background: #f3f3f3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.printer img {
    width: 50px;
}

.pointer {
    cursor: pointer;
    width: 145px;
    float: right;
}

.box-customer-info .form-group label {
    font-weight: normal;
}

.hidden {
    display: none;
}

.template-invoice img {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header {
    height: 48px;
}

.header .header-menu {
    height: 100%;
}

.header-menu .nav-toggle {
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #067aaa;
    color: #fff !important;
    display: none;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

.header-menu .nav-toggle span {
    font-size: 25px;
    color: #fff !important;
    line-height: 35px;
    z-index: 100;
}

.common-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.1);
    zoom: 1;
    background-color: transparent \9;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a000000, endColorstr=#1a000000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a000000, endColorstr=#1a000000);
    z-index: 99;
    display: none;
}

.common-overlay.show {
    display: block;
}


@media (max-width: 576px) {
    #content-main {
        min-height: calc(100% - 176px);
    }
    .navigator {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .menu-category {
        display: none !important;
    }

    .header-banner {
        height: 100px;
    }

    .header-banner img {
        width: 80%;
        height: 100%
    }

    .header {
        height: 0;
    }

    #content-main {
        min-height: calc(100vh - 310px);
    }

    .menu-category.show-menu {
        position: fixed;
        height: 100%;
        width: 220px;
        right: -100%;
        z-index: 1000;
        visibility: hidden;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        z-index: 111111;
        opacity: 1;
        right: 0px;
        top: 0;
        background: #067aaa;
        visibility: visible !important;
        display: block !important;
    }

    .menu-category > ul {
        display: block !important;
        padding-left: 0;
    }

    .menu-category ul li {
        line-height: 40px;
    }

    .header-menu .nav-toggle {
        display: block;
    }

    .menu-category ul li a {
        /*color: #067aaa !important;*/
    }
}